os: Visual Studio 2015

platform: x86
configuration: Debug
matrix:
  fast_finish: true

environment:
  OpenCV_DIR: c:\OpenCV249\opencv\build

install:
  - choco install opencv -version 2.4.9.20140518

build_script:
  - mkdir build
  - cd build
  - cmake -DOPENCV_DIR=%OpenCV_DIR% ..
  - cmake --build .
